* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  font-family: system-ui, Arial, sans-serif;
}

.page-container {
  height: 100%;
  max-width: 80rem;
  width: 100%;
  border: solid 1px black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#game {
  min-height: 320px;
  max-height: 50rem;
  height: 90vh;
  min-width: 320px;
  flex-basis: 75%;
  flex-grow: 1;
  width: 65%;
  border: solid 1px red;
}
.game canvas {}
.game-options {}

#chat {
  min-height: 400px;
  max-width: 600px;
  background: grey;
  display: flex;
  flex-direction: column;
  border: solid 1px green;
  flex-basis: 300px;
  flex-grow: 1;
  width: 35%;
  margin: 0 auto;
}

.player-info {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-name {}
.player-name:hover {
  cursor: pointer;
}

.player-info-form {
  display: none;
}

.player-info.editing .player-info-form {
  display: flex;
}

.player-info.editing .player-name {
  display: none;
}

.chat-messages {
  height: calc(100% - 5rem);
  max-height: 35rem;
  overflow-y: scroll;
  background: black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.chat-form {
  display: flex;
  height: 3rem;
  font-size: 1.2rem;
}
.chat-form input[type="text"] {
  line-height: 2rem;
  font-size: inherit;
  width: 80%;
  outline: none;
}

.chat-form input[type="text"]:invalid {
  border: solid 3px red;
}
.chat-form button[type="submit"] {
  width: 20%;
  background: blue;
  border: none;
  font-weight: bold;
  font-size: inherit;
}

.chat-msg {
  color: white;
}

.chat-msg ~ .chat-msg {
  margin-bottom: 1rem;
}

.chat-msg.my-msg ~ .chat-msg.my-msg {
  margin-bottom: .5rem;
}

.chat-msg.lobby {
  align-self: center;
}

.chat-msg.lobby .msg-date,
.chat-msg.lobby .msg-content {
  float: left;
}

.chat-msg.player {
  color: yellow;
}
.chat-msg.player.my-msg {
  color: green;
}

.chat-msg.game {
  color: red;
}

.chat-msg.my-msg:not(.lobby) {
  align-self: flex-end;
}
.chat-msg.player.my-msg .msg-author {
  display: none;
}

.chat-msg.player:not(.my-msg) .msg-date::after,
.chat-msg.lobby .msg-date::after {
  content: "-";
  display: inline-block;
  margin: 0 .5rem;
}

.chat-msg.player.my-msg .msg-date::before {
  content: "-";
  display: inline-block;
  margin: 0 .5rem;
}

.chat-msg.player.my-msg .msg-date,
.chat-msg.player.my-msg .msg-content {
  /* display: inline-block;
  width: 100%;
  text-align: right; */
  float: right;
}
.chat-msg .msg-date {}
.chat-msg .msg-author {}
.chat-msg.player .msg-content {}
